In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# Explore Dataset

In [18]:
# Path of the files
train_data_path = "D:/Personal/Alex/Uni/MS IA/2 Curso/Fall 2022/Artificial Intelligence/Projects/Project 1/data/Train"

In [28]:
class_names = os.listdir(train_data_path)
class_count = []
total = 0
for pos, img_class in enumerate(class_names):
    images_classC = os.listdir(os.path.join(train_data_path,img_class))
    length_class = len(images_classC)
    total+=length_class
    class_count.append(length_class)
    
# initialize data of lists.
data = {'Score': class_names,
        'Count': class_count,
        'Percentage': np.round((np.array(class_count)/total)*100,2)}
  
# Create DataFrame
train_df = pd.DataFrame(data)
  
# Print the output.
train_df

     Score  Count  Percentage
0  Score_1    450       39.16
1  Score_2    491       42.73
2  Score_3    187       16.28
3  Score_4     21        1.83

# Explore Results

In [57]:
data =[['model_1',5,1,15,54, 0,1,108152,92,61.05],
        ['model_2',5,0,15,48, 0,1,108128,85,61.32],
        ['model_3',8,4,15,126, 4,1,112700,99,63.42],
        ['model_4',8,0,15,84, 4,1,112298,98,62.89],
        ['model_5',8,4,128,720, 4,1,3723028,161,58.16],
        ['model_6',8,0,128,480, 4,1,3711988,158,58.42],
        ['model_7',10,5,128,1104, 0,1,4296372,159,61.05],
        ['model_8',10,0,128,736, 0,1,4268820,150,61.05],
        ['model_9',10,5,128,1104, 5,1,4297108,172,61.05],
        ['model_10',10,0,128,736, 5,1,4269556,162,66.05],
        ['model_11',18,6,128,1984, 6,1,4838148,204,57.37],
        ['model_12',18,0,128,1488, 6,1,4794084,201,63.95],
        ['model_13',18,6,512,6016, 6,1,18547716,397,67.11],
        ['model_14',18,0,512,4512, 6,1,18109892,367,64.74],
        ['model_15',18,6,512,6016, 6,13,18547716,397,60.26]]
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'N_Conv', 'N_Residual', 'N_Channels_LL', 'N_ConvFilters_Total', 'Batch_Norm', 'N_Dropout', 'N_params', 'Time', 'Accuracy'])
# print dataframe.
df

,Name,N_Conv,N_Residual,N_Channels_LL,N_ConvFilters_Total,Batch_Norm,N_Dropout,N_params,Time,Accuracy
0,model_1,5,1,15,54,0,1,108152,92,61.05
1,model_2,5,0,15,48,0,1,108128,85,61.32
2,model_3,8,4,15,126,4,1,112700,99,63.42
3,model_4,8,0,15,84,4,1,112298,98,62.89
4,model_5,8,4,128,720,4,1,3723028,161,58.16
5,model_6,8,0,128,480,4,1,3711988,158,58.42
6,model_7,10,5,128,1104,0,1,4296372,159,61.05
7,model_8,10,0,128,736,0,1,4268820,150,61.05
8,model_9,10,5,128,1104,5,1,4297108,172,61.05
9,model_10,10,0,128,736,5,1,4269556,162,66.05
10,model_11,18,6,128,1984,6,1,4838148,204,57.37
11,model_12,18,0,128,1488,6,1,4794084,201,63.95
12,model_13,18,6,512,6016,6,1,18547716,397,67.11
13,model_14,18,0,512,4512,6,1,18109892,367,64.74
14,model_15,18,6,512,6016,6,13,18547716,397,60.26

## Correlation

In [58]:
corrM = df.corr()
corrM.style.background_gradient()